body {
    background-color: #6c6cd8;
    font-family: Arial, Helvetica, sans-serif;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    width: 80vh;
    height: 50vh;
    border: solid;
    border-color: beige;
    overflow: hidden;
}

.image {
    width: 80vh;
    height: 50vh;
    transform-origin: 20%;
}

.input-container {
    position:relative;
    margin-top: 20vh;
}

.status-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status-container > div {
    height: 5vh;
    width: 5vh;
    margin: 1vh;
    background-color: lightgray;
    opacity: 50%;
    border: 3px black solid;
}


.suggestions {
    opacity: 0%;
    position: absolute;
    bottom: 100%;
    width: 60vh;
    height: 30vh;
    max-height: 30vh;
    overflow-y: auto;
    background-color: rgb(46, 45, 45);

    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 20px;

    transition: all 100ms ease;
}

.search {
    border: none;
    border-radius: 15px;
    width: 60vh;
    height: 4vh;
    border-color: azure;

    font-size: large;
}

.button-container {
    display: flex;
    flex-direction: row;

    margin-top: 5vh;
}

.button-container > button {
    width: 10vh;
    height: 4vh;
    margin-left: 10vh;
    margin-right: 10vh;

    border-radius: 5px;
    border: none;

    font-size: medium;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

button:hover {
    cursor: pointer;
    color: chocolate;
    transition: 100ms ease;
}

.submit {
    background-color: #4848b4;
}

.skip {
    background-color: #909090;
}

ul {
    margin: 0;
    padding: 0.5vh;

}

li {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: white;
    padding: 2vh;
    border-radius: 20px;
    cursor: pointer;
}

li div:last-child {
    font-size: small;
    opacity: 50%;
}

li:hover {
    background-color: azure;
    transform: translate(2%);
    color: darkcyan;
    transition: 50ms;
}

.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: lightgray;
    width: 60vh;
    height: fit-content;
    padding: 2vh;
    margin-top: 2vh;

    border: 3px solid whitesmoke;
    border-radius: 20px;

    opacity: 0;
    transform: scale(0.7);
    transition: opacity 200ms ease, transform 200ms ease;
    pointer-events: none;
}

.result-container.active {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.result-comment {
    align-items: center;
    font-size: 80px;
    font-weight: bolder;
}

.result-answer {
    font-size: 50px;
    font-weight: bold ;
}

.result-name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-zone {
    font-size: 50px;
    font-weight: bold;
}

.result-game {
    align-items: center;
    font-size: 30px;
}

.share-button {
    background-color: dodgerblue;
    width: 10vh;
    height: 4vh;
    margin-top: 2vh;
    margin-left: 10vh;
    margin-right: 10vh;

    border-radius: 5px;
    border: none;

    font-size: medium;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

.next-text {
    margin-top: 2vh;
    font-size: medium;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

.next-timer {
    margin-top: 1vh;
    font-size: 40px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;

    color: #6c6cd8;
}