body {
    background-color: #4848b4;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    width: 80vh;
    height: 50vh;
    border: solid;
    border-color: beige;
    overflow: hidden;
}

.image {
    width: 80vh;
    height: 50vh;
    transform-origin: 20%;
}

.input-container {
    position:relative;
    margin-top: 20vh;
}
.suggestions {
    opacity: 0%;
    position: absolute;
    bottom: 100%;
    width: 60vh;
    height: 30vh;
    max-height: 30vh;
    overflow-y: auto;
    background-color: rgb(46, 45, 45);

    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 20px;

    transition: all 100ms ease;
}

.search {
    border: none;
    border-radius: 15px;
    width: 60vh;
    height: 4vh;
    border-color: azure;
}

.button-container {
    display: flex;
    flex-direction: row;

    margin-top: 5vh;
}

.button-container > button {
    width: 10vh;
    height: 4vh;
    margin-left: 10vh;
    margin-right: 10vh;

    border-radius: 5px;
    border: none;

    font-size: medium;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

.button-container > button:hover {
    color: chocolate;
    transition: 100ms ease;
}

.submit {
    background-color: #6c6cd8;
}

.skip {
    background-color: #909090;
}

ul {
    margin: 0;
    padding: 0.5vh;

}

li {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: white;
    padding: 2vh;
    border-radius: 20px;
    cursor: pointer;
}

li div:last-child {
    font-size: small;
    opacity: 50%;
}

li:hover {
    background-color: azure;
    transform: translate(2%);
    color: darkcyan;
    transition: 50ms;
}